/*.slide1 {
  background: url(../images/2-4-1-01.png) no-repeat fixed;
}

.slide2 {
  background: url(../images/2-4-1-02.png) no-repeat fixed;
}

.slide3 {
  background: url(../images/2-4-1-03.png) no-repeat fixed;
}

.slide4 {
  background: url(../images/2-4-1-04.png) no-repeat fixed;
}

.slide5 {
  background: url(../images/2-4-1-05.png) no-repeat fixed;
}*/

.slide {
  text-align: right;
}

#example1 .innertimeline {
  background: #aAaAaA;
}

.image {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 100%;
  min-height: 100%;
}

.slide p {
  z-index: 2;
  position: relative;
}